fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
sentence-transformers==2.7.0
torch==2.3.0
scipy==1.12.0
numpy==2.4.4
scikit-learn==1.4.2
pandas==2.2.2
google-generativeai==0.5.4
einops
huggingface_hub